<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Save Client</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
<a href="/logout" class="btn red">Log out</a>
<span th:if="${error}" th:text="*{error}">error</span>

<div class="container">
  <div class="py-5 text-center">
    <h2>Add Client</h2>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate th:action="@{/clients}" th:object="${client}" method="post">
        <input type="number" hidden class="form-control" id="clientId" th:field="*{clientId}">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">error</span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">error</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="you@example.com">
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</span>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="1234 Main St">
          <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">error</span>
        </div>

        <div class="mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" id="country" th:field="*{country}">
            <option th:each="countryOption : ${countries}" th:value="${countryOption.getCfValue()}"
                    th:text="${countryOption.getCfName()}">
            </option>
          </select>
        </div>
        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}">error</span>
        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">Save Client</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Company Name</p>
  </footer>
</div>
</body>
</html>
